.vscode/
/Assignment-2/datasets/*
/Assignment-2/results/*
/Assignment-2/models/*
/Assignment-2/conf
/Assignment-2/pre_trained
/Assignment-2/AI-Assignment2.docx
Assignment-2/Assignment-2/*
Assignment-3/yolov4*
Assignment-3/frames
Assignment-3/runs
Assignment-3/.DS_Store
Assignment-4/backup/*
Assignment-4/mcp-server-demo/*